{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nutrition Tracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-sm">
    <form hx-swap="outerHTML" hx-post="api/v1/meallogs/" hx-ext="json-enc">
        mealId: <input type="number" name="meal_id" required>
        itemId: <input type="number" name="item_id" required>
        portionId: <input type="number" name="portion_id" required>
        count: <input type="number" name="portion_multiplier" step="any" inputmode="decimal" required>
        dateTime: <input type="datetime-local" name="date_time" required>
        <button type="submit">Add</button>
    </form>
    <hr/>
    {{ template "meallogs" .MealLogs }}
    <hr/>
    {{ template "items" .Items }}
</div>
<script src="/static/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/static/htmx/htmx.min.js"></script>
<script src="/static/htmx/extensions/json-enc.js"></script>
</body>
</html>
{{ end }}

{{ block "meallogs" . }}
<ol>
    {{ range . }}
    <li>
        <span>{{ .DateTime }}</span>
        <span>Calories: {{ formatFloat .GetCalories 2 }}</span>
        <span>Fats: {{ formatFloat .GetFats 2 }}</span>
        <span>Carbs: {{ formatFloat .GetCarbs 2 }}</span>
        <span>Proteins: {{ formatFloat .GetProteins 2 }}</span>
    </li>
    {{ end }}
</ol>
{{ end }}

{{ block "items" . }}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Liquid</th>
        <th scope="col">Calories</th>
        <th scope="col">Fats</th>
        <th scope="col">Carbs</th>
        <th scope="col">Proteins</th>
    </tr>
    </thead>
    <tbody>
    {{ range . }}
    <tr>
        <td>{{ .ID }}</td>
        <td>{{ .Name }}</td>
        <td>{{ .Liquid }}</td>
        <td>{{ .CaloriesPer100 }}</td>
        <td>{{ .FatsPer100 }}</td>
        <td>{{ .CarbsPer100 }}</td>
        <td>{{ .ProteinsPer100 }}</td>
    </tr>
    {{ end }}
    </tbody>
</table>
{{ end }}