{{ define "items_tab" }}
    {{ template "items_content" .Data }}
{{ end }}

{{ define "items_content" }}
    {{ template "tabs" "items" }}
    <hr/>
    <div class="tab-content" role="tabpanel">
        <div class="table-responsive">
            <table class="table table-striped table-sm table-bordered">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Calories</th>
                        <th scope="col">Fats</th>
                        <th scope="col">Fats Saturated</th>
                        <th scope="col">Carbs</th>
                        <th scope="col">Carbs Sugar</th>
                        <th scope="col">Carbs Slow Release</th>
                        <th scope="col">Carbs Fast Release</th>
                        <th scope="col">Proteins</th>
                        <th scope="col">Salt</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Items }}
                        <tr>
                            <td>{{ .ID }}</td>
                            <td>{{ if .Name }}{{ .Name }}{{ else }}-{{ end }}</td>
                            <td>{{ if .CaloriesPer100 }}{{ formatFloat .CaloriesPer100 2 }}{{ else }}-{{ end }}</td>
                            <td>{{ if .FatsPer100 }}{{ formatFloat .FatsPer100 2 }}{{ else }}-{{ end }}</td>
                            <td>{{ if .FatsSaturatedPer100 }}{{ formatFloat .FatsSaturatedPer100 2 }}{{ else }}-{{ end }}</td>
                            <td>{{ if .CarbsPer100 }}{{ formatFloat .CarbsPer100 2 }}{{ else }}-{{ end }}</td>
                            <td>{{ if .CarbsSugarPer100 }}{{ formatFloat .CarbsSugarPer100 2 }}{{ else }}-{{ end }}</td>
                            <td>{{ if .CarbsSlowReleasePer100 }}{{ formatFloat .CarbsSlowReleasePer100 2 }}{{ else }}-{{ end }}</td>
                            <td>{{ if .CarbsFastReleasePer100 }}{{ formatFloat .CarbsFastReleasePer100 2 }}{{ else }}-{{ end }}</td>
                            <td>{{ if .ProteinsPer100 }}{{ formatFloat .ProteinsPer100 2 }}{{ else }}-{{ end }}</td>
                            <td>{{ if .SaltPer100 }}{{ formatFloat .SaltPer100 2 }}{{ else }}-{{ end }}</td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
{{ end }}
