{{ define "today_tab" }}
    {{ template "tabs" "today" }}
    {{ if .Data.DailyQuota }}
        {{ template "daily_quota" .Data }}
        <hr/>
    {{ end }}
    {{ template "meals" .Data }}
{{ end }}
