{{ define "today_tab" }}
    {{ template "tabs" "today" }}
    <hr/>
    <div class="tab-content" role="tabpanel">
        {{ if .Data.DailyQuota }}
            {{ template "daily_quota" .Data }}
            <hr/>
        {{ end }}
        {{ template "meals" .Data }}
    </div>
{{ end }}
